* {
    font-family: 'Courier New', Courier, monospace;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;

}

body {
    color: white;
    background-color: black;
    float: left;
    position: relative;
    left: 30%;
    width: 40%;
	overflow-y: hidden;
}

img.logo {
    height: 64px;
    vertical-align: text-bottom;
}

h1 {
    font-family:monospace;
}

h1.title {
    font-size: 4.5em;
    padding: 0px;
    margin: 0px;
}

h2 {
    font-family:monospace;
}

h2.title {
    font-size: 3.0em;
    padding: 0px;
    margin: 0px;
}

@media screen and (max-width: 600px) {
    body {
        left: 0%;  
        width: 95%;
        padding: 5px;
    }
    h1.title {
        font-size: 2.0em;
        padding: 0px;
        margin: 0px;
    }
    h2.title {
        font-size: 2.0em;
        padding: 0px;
        margin: 0px;
    }
    img.logo {
        height: 32px;
        vertical-align: text-bottom;
    }
  }

p {
    font-size: 1.2em;
}

a {
    font-size: 1.2em;
}

a {
    color: gray;
}

a.btn {
    border: 2px solid #ffffff;
    background: #000000;
    padding:4px;
    color: white;
    text-decoration: none;

}

a.btn:hover {
    background: white;
    color: #000000;
}

img.socials-btn {
    padding:4px;
    border: 1px white;
    text-decoration: none;
    border-radius: 16px;
}

img.socials-btn:hover {
    background: #1a1a1a;
}

iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
}

#buy-btn {
    display: inline-block;            /* Makes the link behave like a button */
    background-color: #635bff;       /* Stripe's signature blue color */
    color: #fff;                     /* White text */
    font-size: 20px;                 /* Button font size */
    font-weight: 500;                /* Medium weight */
    text-decoration: none;           /* Remove underline */
    text-align: center;              /* Center text */
    padding: 12px 50px;              /* Button padding */
    border-radius: 6px;              /* Rounded corners */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth hover effects */
}

#buy-btn:hover {
    background-color: #4a47d4;       /* Darker blue on hover */
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15); /* Larger shadow on hover */
    text-decoration: none;           /* Ensure no underline on hover */
}

#buy-btn:active {
    background-color: #3a37b0;       /* Even darker blue when clicked */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Smaller shadow on click */
}
